<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/about">About</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
    </ul>
    <a class="navbar-brand" href="/table">Table</a>
  </div>
</nav>
<h1 class="about">How can I invest in share market? </h1>
<h3 class="aboutnext"> Get a broker </h3>
<p>A person cannot go directly to the stock market to buy or sell shares. Buying and selling of stocks has to be done through brokers. They are individuals, companies or agencies registered with and authorised by Sebi to trade on the stock exchanges. Brokers will charge a brokerage fee or brokerage for the assistance they provide. </p>

<br><br>

<h3 class="aboutnext">Get a demat account</h3>
<p>Once you have a broker, the next step is to open a demat and trading account. This account will hold the stocks that you have purchased and will reflect them in your name. Shares cannot be held in physical form and they form part of the dematerialised or demat account.</p>

<br><br>
<h3 class="aboutnext">Buying and Selling</h3>
<p>In order to buy or sell shares, one needs to inform the broker the quantity to be bought or sold along with the price at which you wish to carry out the transaction. While investing in the share market, these are the ways to invest:
<br>
1. Understand your investment requirement and take decisions accordingly.
<br>
2. Decide your goal and plan the investment strategy accordingly. Find out the stocks that are likely to align with your investment objectives.
<br>
3. Enter the market at the right .. 
<br>
</p>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br>