
<h1 class="main"> Share Market</h1>
<br>
<h3 class="topic">Insurance Company</h3>
<br>
<section class="get">
<form id="tableForm" action="/getJson" method="get">
    <select class="selectpicker" data-style="btn-info" name="selectpicker">
        <optgroup label="Select Table">
  {{#each company}}
  <option value={{this.company}}>{{this.company}}</option>
  {{/each}}
  </optgroup>
    </select>
    <input type="submit" />
</form>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/about">About</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
    </ul>
    <a class="navbar-brand" href="/table">Table</a>
  </div>
</nav>

  <table class="table table-fixed">
     <thead>
        <tr>
            <th>Company</th>
            <th>Date</th>
            <th>Open</th>
            <th>Last</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Total Trade Quantity</th>
            <th>Turn Over (Lakhs)</th>
        </tr>
    </thead>
    <tbody>
    {{# each items}}
        <tr class="item">
            <td> {{this.company}} </td>
            <td> {{this.Date}} </td>
            <td> {{this.Open}} </td>
            <td> {{this.Last}} </td>
            <td> {{this.High}} </td>
            <td> {{this.Low}} </td>
            <td> {{this.Close}} </td>
            <td> {{this.TotalTradeQuantity}} </td>
            <td> {{this.TurnOverL}} </td>
        </tr>
        {{/each}}
    </tbody>
  </table>

<script>
function loading() {
    console.log(document.getElementById('datapoints').value());

}


}
</script>
<input type="hidden" name={{items}} name="datapoints" value={{items}} onload="loading">
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
  
