<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/about">About</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
    </ul>
    <a class="navbar-brand" href="/table">Table</a>
  </div>
</nav>
<br><br><br><br><br><br><br><br><br>
 <table class="table table-fixed">
     <thead>
        <tr>
            <th>Company</th>
            <th>Date</th>
            <th> Open </th>
            <th>Last</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Total Trade Quantity</th>
            <th>Turn Over (Lakhs)</th>
        </tr>
    </thead>
    <tbody>
    {{# each table}}
        <tr>
            <td> {{this._id}} </td>
            <td> {{this.value}} </td>
            <td> {{this.o}} </td>
            <td> {{this.l}} </td>
            <td> {{this.h}} </td>
            <td> {{this.lo}} </td>
            <td> {{this.c}} </td>
            <td> {{this.TTQ}} </td>
            <td> {{this.TOL}} </td>
        </tr>
        {{/each}}
    </tbody>
  </table>
  <br>
 <br><br><br><br><br><br><br><br><br><br><br>
 <br><br><br><br><br><br><br><br><br><br><br>
 <br><br><br><br><br><br><br><br><br><br><br>