
<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
window.onload = function () {

var options = {
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Turn Over VS Close Price"
	},
	
	axisX: {
		title: "States"
	},
	
	axisY: {
		title: "Turn Over",
		titleFontColor: "#C0504E",
		lineColor: "#C0504E",
		labelFontColor: "#C0504E",
		tickColor: "#C0504E",
		includeZero: false
	},
	axisY2: {
		title: "Close Price",
		titleFontColor: "#C0604E",
		lineColor: "#C0604E",
		labelFontColor: "#C0604E",
		tickColor: "#C0604E",
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [
	{
		type: "spline",
		name: "Close Price",
		axisYType: "secondary",
		showInLegend: true,
		xValueFormatString: "MMM YYYY",
		yValueFormatString: "$#,##0.#",
		dataPoints: [
			{ x: new Date(2018, 2, 1),  y: 450.95},
			{ x: new Date(2018, 2, 5), y: 452.9},
			{ x: new Date(2018, 2, 6), y: 447.35},
			{ x: new Date(2018, 2, 7),  y: 437.55 },
			{ x: new Date(2018, 2, 8),  y: 430.55},
			{ x: new Date(2018, 2, 9),  y: 425.55},
			{ x: new Date(2018, 2, 12), y: 430.4},
			{ x: new Date(2018, 2, 13), y: 441.95 },
			{ x: new Date(2018, 2, 14),  y: 445.25 },
			{ x: new Date(2018, 2, 15),  y: 448.6},
			
		]
	},
	{
	
		type: "spline",
		name: "Turn Over",
		showInLegend: true,
		xValueFormatString: "MMM YYYY",
		yValueFormatString: "#,##0 Lacs",
		dataPoints: [
			{ x: new Date(2018, 2, 1),  y: 5035.62},
			{ x: new Date(2018, 2, 5), y: 5659.12},
			{ x: new Date(2018, 2, 6), y: 7165.45},
			{ x: new Date(2018, 2, 7),  y: 12836.78},
			{ x: new Date(2018, 2, 8),  y: 8438.63},
			{ x: new Date(2018, 2, 9),  y: 6405.76},
			{ x: new Date(2018, 2, 12), y: 3800.38},
			{ x: new Date(2018, 2, 13), y: 6144.59},
			{ x: new Date(2018, 2, 14),  y: 3884.08},
			{ x: new Date(2018, 2, 15),  y: 2939.25},
			
		]		
	}]
};
$("#chartContainer").CanvasJSChart(options);

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

}
</script>
 </head> 
 <body>
    {{{ body }}}
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
 </body>
 </html>
