body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("stockmarket.jpg");

}
h1.main {
    color: #FFFFFF;
    text-align: center;
}

h3.topic{
    color: #FFFFFF;
}
h1.about{
    color: #FF0000;
}

h3.aboutnext{
    color: #FFFFFF;
}
p {
    color: #7CFC00;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th{
    background-color: #ED872D;
    color: #FFFFFF;
}
td{
    color: #FFFFFF;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
